    <footer>
        <nav class="navbar" role="navigation">
            <div class="container">            
                <div class="navbar-header">
                    <a class="navbar-brand" href="https://github.com/max-severin" target="_blank">
                    <span class="glyphicon glyphicon-copyright-mark"
                     aria-hidden="true"></span> Max Severin | Capstone project | 2016</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-class="{active: stateis('app.registerClient')}"><a ui-sref="app.registerClient">
                            <span class="glyphicon glyphicon-user"
                             aria-hidden="true"></span> Become a client</a></li>
                        <li ng-class="{active: stateis('app.registerContractor')}"><a ui-sref="app.registerContractor">
                            <span class="glyphicon glyphicon-briefcase"
                             aria-hidden="true"></span> Become a contractor</a></li>
                    </ul>
                </div>
            </div>
        </nav> 
    </footer>
